body {
  margin: 0;
}
header {
  background-color: #ff00ff;
  padding: 30px 20px;
  display: flex;
  justify-content: flex-end;
}

header div {
  background-color: #fbb3ff;
  height: 70px;
  flex-basis: 140px;

  margin: 0 10px;
}

header > :first-child {
  margin-right: auto;
}

.main {
  display: flex;
  justify-content: center;
}

.left-box {
  width: 300px;
  background-color: #d8ffb6;
}

.right-boxs {
  background-color: #00b522;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  max-width: 660px;
  flex-grow: 1;
  justify-content: center;
}

.right-boxs div {
  background-color: #fff75a;
  height: 130px;
  flex-basis: 200px;
  margin: 10px;
}

footer {
  background-color: #52a1ff;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer div {
  background-color: #b6e7ff;
  margin: 10px;
  flex-basis: 45%;
  max-width: 600px;
  height: 40px;
}
